.login_otp_section_otpFillSection
{
   display: flex;
   flex-grow: 1;

}
.login_otp_section_otpFillSection_box{

    margin: 5px;
    width: 50px;
    height: 60px;
    text-align: center;
    flex: 1;
    font-weight: 900;
    font-size: 25px;

}
.login_otp_section_otpFillSection_box:focus{
    border: 2px solid ;
}